bcrypt==3.1.7
boto3==1.17.27
botocore==1.20.47
Django==3.0.8
django-amazon-ses==4.0.0
django-filter==2.4.0
django-multiselectfield==0.1.12
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
gunicorn==20.1.0
httplib2==0.14.0
lockfile==0.12.2
Pillow==7.0.0
PyJWT==1.7.1
pylint==2.7.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
pymacaroons==0.13.0
PyYAML==5.3.1
psycopg2==2.8.6
readme-renderer==29.0
reportlab==3.5.34
requests==2.22.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rfc3986==1.4.0
rsa==4.7.2
s3transfer==0.3.4
SecretStorage==2.3.1
secure-smtplib==0.1.1
semantic-version==2.8.5
simplejson==3.16.0
six==1.14.0
sqlparse==0.4.1
ssh-import-id==5.10
systemd-python==234
termcolor==1.1.0
urllib3==1.25.8

